body{
  margin : 0;
}


/* Navbar Section Starts */

.navbar-container{
  background-color: white;
}

#navbar
{
    height: 15vh;
    width: 90%;
    clip-path: polygon(100% 0, 95% 50%, 50% 100%, 5% 50%, 0 0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 5%;
    background: #005fa4;
    padding: 0;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish' , sans-serif;
}

#navbar ul,ol
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0px;
}

#navbar ul
{
    position: absolute;
    left: 5%;
}
#navbar ol
{
    position: absolute;
    right: 5%;
}
#navbar li
{
    margin: 0px 50px;
    font-size: 23px;
}
#navbar li a
{
    text-decoration: none;
    color: #e2e2e2;
    transition: 0.5s;
}
#navbar li a:hover
{
    color: #000;
}
#logo
{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 5px;
    left: calc(50% - 70px);
}
#logo img
{
    height: 120px;
}

/* Navbar Section Ends */

/* PDF Section Starts */
.Section-pdf{
  padding: 5%;
  text-align: center;
  width: 100%;
  background-color: #2F4F4F;
}

.pdf-container{
  width: 80%;
  margin: auto;
  border: 3px solid black;
  border-radius: 25px;
  padding: 2%;
}

.jumbotron{
  width: 80%;
  margin: auto;
}

.goToSource-btn{
   padding:2%;
   width:50%;
   font-size: 2rem
}
/* PDF Section Starts */


/* Mode Info Starts */
.container {
  width: 100%;
  height: 95vh;
}

#learn-more {
  fill-opacity: 0;
  fill: #fff;
  stroke: #fff;
  stroke-width: 2;
  border-radius: 5px;
  stroke-linejoin: round;
  transition: all 250ms ease-in;
  cursor: pointer;
}
#learn-more:hover {
  fill-opacity: 1;
}
#learn-more:hover ~ .learn-more-text {
  fill: #005fa4;
}

.learn-more-text {
  font-family: "Roboto";
  fill: #fff;
  pointer-events: none;
  font-size: 14px;
  transition: all 250ms ease-in;
}

.center {
  fill: #005fa4;
}

.pointer {
  fill: #fff;
  stroke: #3b8fc0;
  stroke-width: 2;
}

.nav-copy {
  font-family: "Roboto";
  fill: #fff;
  fill-opacity: 1;
  transition: all 250ms ease-in;
}
.nav-copy.changing {
  fill-opacity: 0;
}

.service {
  cursor: pointer;
}
.service text {
  font-size: 14px;
  font-family: "Roboto";
  text-anchor: middle;
}
.service .icon-wrapper {
  transform-origin: 50% 50%;
}
.service .icon-wrapper, .service .icon-wrapper > * {
  transition: all 250ms ease-in;
}
.service circle {
  fill: #005fa4;
}
.service circle.shadow {
  fill-opacity: 0;
  filter: url(#service-shadow);
}
.service use {
  fill: #fff;
}
.service text {
  fill: #4d4d4d;
}
.service.active .icon-wrapper, .service:hover .icon-wrapper {
  transform: scale(1.15) translateY(-5px);
}
.service.active .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper, .service:hover .icon-wrapper > * {
  transition: all 250ms ease-out;
}
.service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {
  fill-opacity: 0.4;
}
.service.active text, .service:hover text {
  fill: #005fa4;
  font-weight: bold;
}
/* Mode Info ENDS */
